.show-prob {
    animation: mymove 0.5s forwards ease-in-out;
}

.hidden {
    animation: myup 0.5s forwards ease-in-out;
}

@keyframes mymove {
    from {
        height: 0px;
        padding: 0px 0;

    }

    to {
        padding: 5px 15px;

        height: 70px;
    }
}

@keyframes myup {
    from {
        height: 70px;
        padding: 5px 15px;


    }

    to {
        height: 0px;
        padding: 0px 0;

    }
}