@font-face {
    font-family: syncopateBold;


    src: url(../font/syncopate-bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: syncopate;


    src: url(../font/syncopate-regular.ttf);
    font-weight: normal;
}